@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --primary:#5ED4F3;
    --secondary:#000;
    --white:#282828;
    --light-text:#222;
    --dark-text:#fff;
}

body {
    background-color: var(--secondary);
    color: var(--dark-text);
}


.body-container {
    margin: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    /* max-width: 1000px; */
    border-radius: 0.5rem;
    position: relative;
    background-color: var(--white);
}

nav {
    position: absolute;
    /* inset:0 0 0 0 */
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}


nav #mail, nav #sms{
    text-decoration: none;
    padding: 0.8rem 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
    color: var(--dark-text);
    cursor: pointer;
    background-color: var(--light-text);
    /* border-radius: 0.5rem 0 0 0.5rem; */
}

nav #mail.active, nav #sms.active{
    border-bottom:2px solid var(--primary);
}

nav #sms{
    /* border-radius: 0 0.5rem 0.5rem 0; */
    /* background-color: green; */
}





.result > .fa{
    display: flex;
    align-items: center;
    justify-content: center;
    width:2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left:0;
    border-radius: 50%;


}

.result > .fa-check{
    background-color: green;
}
.result > .fa-times{
    background-color: red;
}


footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-evenly;
}

footer p{
    font-size: 0.6rem;
}