{%extends "layout.html" %} {% block body %}

<div class="heading-container">
  <h1 class="heading">SPAM IDENTIFIER</h1><span>(email)</span>
</div>
      

<form action="/email/result" class="form" method="post">
  <div class="email-container row">
    <label for="email">Enter the mail id</label>
    <input name="email" type="email" class="email" />
  </div>

  <div class="content-container row">
    <label for="content">Enter the mail content</label>
    <textarea name="email_content" class="content-textarea" rows="4" type="text"> </textarea>
  </div>
  <section class="consent">
    <input type="checkbox" name="consent" value="1" checked id="outline" class="custom-checkbox" />
    <label for="outline">I wish to give my data to the website</label>
  </section>
  <input type="submit" value="Generate Response"/>
</form>

{% endblock %}
