{% extends 'index.html' %}

{% block sms_feedback %}

<div id="feedback">
    <div id="options">
        <a id="mail-btn" href="/mail">Mail</a>
        <a id="sms-btn" href="/sms">SMS</a>
    </div>
    <div class="feedback_content">

        {% if response["type"] == "sms" %}
            <h1 class="feedback_heading">Feedback for sms</h1>
            <p class="feedback_desc">Thank you for your feedback.</p>
            <p class="feedback_desc">Your feedback for phone number, {{response["id"]}} has been registered.</p>
        {% elif response["type"] == "email" %}
            <h1 class="feedback_heading">Feedback for mail</h1>
            <p class="feedback_desc">Thank you for your feedback.</p>
            <p class="feedback_desc">Your feedback for email id, {{response["id"]}} has been registered.</p>
        {% endif %}
    </div>
</div>

{% endblock %}