<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spam Shield</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/shieldtick.png')}}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <script defer src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-title">
        <img src="{{url_for('static', filename='images/shieldtick.svg')}}"
        alt="" />
        <p>SpamShield</p>
      </div>
      <div class="membership">FREE</div>
    </nav>

    <div id="container">
      <div id="section1">
        <div class="intro">
          <h1>Word about site</h1>
          <p>A better way to get start your safe spam free journey with us</p>
        </div>
        <div id="stats">
          <div class="data">
            <div id="database-field-count" class="data-number">{{dataset_count}}</div>
            <p>Dataset Count</p>
          </div>
          <div class="data">
            <div id="users" class="data-number">{{user_count}}</div>
            <p>Spams Reported</p>
          </div>
          <div class="data">
            <div id="feedbacks" class="data-number">{{feedback_count}}</div>
            <p>Feedback Count</p>
          </div>
        </div>

        <div id="card-container">
          <div class="card">
            <div class="top">
              <img
                src="{{url_for('static', filename='images/mobile.svg')}}"
                alt=""
              />
              <p>sms</p>
            </div>
            <div class="middle">
              <p>Dealing with the annoyance of SMS spam: Tips and tricks for staying protected.</p>
            </div>
            <div class="bottom">
              <button>Know More</button>
            </div>
          </div>

          <div class="card">
            <div class="top">
              <img
                src="{{url_for('static', filename='images/mail.svg')}}"
                alt=""
              />
              <p>mail</p>
            </div>
            <div class="middle">
              <p>
                Combatting the Proliferation of Email Spam: Strategies and Best Practices
              </p>
            </div>
            <div class="bottom">
              <button>Know More</button>
            </div>
          </div>
        </div>
      </div>
      <div id="section2">
        <main id="spam-container">
          {% block spam_container %} {% endblock %}
        </main>
      </div>
      <div id="section3">
        <div class="intro">
          <h1>Meet the team</h1>
          <p>The creator and maintainer of the spam alert website.</p>
        </div>
        <div id="team">
          <div class="center">
            <div class="member">
              <img
                src="{{url_for('static', filename='images/40.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Aditi Goyal</h3>
                  <a href="https://github.com/aditigoyal291">@aditigoyal291</a>
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="member">
              <img
                src="{{url_for('static', filename='images/61.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Sarang Kumar</h3>
                  <a href="https://github.com/SarangKumar">@SarangKumar</a>
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="member">
              <img
                src="{{url_for('static', filename='images/81.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Piyush Kaushish</h3>
                  <a href="https://github.com/PiyushKaushish"
                    >@PiyushKaushish</a
                  >
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="member">
              <img
                src="{{url_for('static', filename='images/9.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Pranav B</h3>
                  <a href="https://github.com/PranavB2412">@PranavB2412</a>
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="member">
              <img
                src="{{url_for('static', filename='images/13.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Nikita Kamboj</h3>
                  <a href="https://github.com/nikitaaaa07">@nikitaaaa07</a>
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
            <div class="member">
              <img
                src="{{url_for('static', filename='images/96.jpg')}}"
                alt=""
              />
              <div class="member-info">
                <div class="member-name">
                  <h3>Pranav G Kashyap</h3>
                  <a href="https://github.com/PRANAV-G-KASHYAP"
                    >@PRANAV-G-KASHYAP</a
                  >
                </div>
                <p>Lorem, ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>Barbie's Bodyguards</p>
    </footer>
  </body>
</html>
