{%extends "layout.html" %} {% block body %}

<div class="heading-container">
  <h1 class="heading">SPAM IDENTIFIER</h1>
  <span>(sms)</span>
</div>

<form action="/sms/result" class="form" method="post">
  <div class="phone-container row">
    <label for="phone">Enter the phone no.</label>
    <input name="phoneno" required name="phone" type="tel" class="email"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
  </div>

  <div class="content-container row">
    <label for="content-ph">Enter the SMS content</label>
    <textarea
      required
      name="sms_content"
      class="content-textarea"
      rows="4"
      type="text"
    >
    </textarea>
  </div>
  <section class="consent">
    <input
      type="checkbox"
      name="consent"
      checked
      value="1"
      id="outline"
      class="custom-checkbox"
    />
    <label for="outline">I wish to give my data to the website</label>
  </section>
  <input type="submit" value="Generate Response"/>
</form>

{% endblock %}
